*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #1D212B;
}

section {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

section:nth-child(1) {
    color: #fff;
}

section:nth-child(2) {
    color: #1D212B;
    background: #fff;
}
ƒ
section:nth-child(3) {
    color: #fff;
}

section:nth-child(4) {
    color: #1D212B;
    background: #fff;
}

section .container{
    margin: auto;

}

section .indv-div {
    display:flex; 
    justify-content: center;
    flex-direction: column;
    margin: 20px;
}

section .name {
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
}

section h1 {
    font-size: 60px;
}

section h2 {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
}

section .cards {
    display: flex;
    justify-content: center;
}

section .cards .text-card {
    background: #2696E9;
    margin: 20px;
    padding: 20px;
    width: 200px;
    height: 100px
}

section .cards .text-card h3 {
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
}

@media (max-width: 900px) {
    section h1 {
        font-size: 40px;
    }

    section.cards {
        flex-direction: column;
    }
}

.reveal {
    position: relative;
    transform: translateX(-400px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal.active {
    transform: translateX(0px);
    opacity: 1; 
    display: flex;
    justify-content: center;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #212529;
    padding: 10px;
    border: 5px solid rgba(233, 233, 233, 0.8);
    border-radius: 20px;
}
.grid-container2 {
    display: grid;
    grid-template-columns: auto auto;
    background-color: white;
    padding: 10px;
    border: 5px solid rgba(233, 233, 233, 0.8);
    border-radius: 20px;
}
.grid-containerH {
    display: grid;
    grid-template-columns: auto auto;
    background-color: transparent;
    padding: 10px;
    border-radius: 20px;
}
.grid-item {
    background-color: white;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    background-color: #212529;
    color: white;
}
.grid-item2{
    background-color: #212529;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    background-color: white;
    color: #212529;
}
.bio {
    background-color: white;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    font-size: 20px;
    background-color: #212529;
    color: white;
    width: 400px;
    padding: 20px !important;
}
.bio2 {
    background-color: #212529;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    font-size: 20px;
    background-color: white;
    color: #212529;
    width: 400px;
    padding: 20px !important;
}
.avatar {
    height: 150px;
    border-radius: 70px;
    width: 150px;
    margin-right: 10px;
}
.button {
    background-color: white;
    color: black;
    border: 1.5px solid gray;
    width: 80px;
    border-radius: 20px;
}
.button:hover {
    box-shadow: 0 12px 16px 0 rgba(255, 255, 255, 0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }