{% extends "individual.html" %}
<body>
  <div id="content">
    {% block profile %}
    <div id="profile">
      <div id="greeting">
        <div id="title">
          <p>👋🏼 Hello! </p>
          <p>My name is {{ name }}. </p>
        </div>
      </div>
      <div id="profile-picture">
        <img src="./static/img/athena.jpg" />
      </div>
    </div>
    {% endblock %} {% block info %}
    <div id="info">
      <div class="info-section">
        <div class="subtitle">👤 About Me</div>
        <div class="info-content">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </div>
      <div class="info-section">
        <div class="subtitle">Projects</div>
      </div>
    </div>
    {% endblock %}
  </div>
</body>
