<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta property="og:title" content="Personal Portfolio" />
    <meta property="og:description" content="My Personal Portfolio" />
    <meta property="og:url" content="{{ url }}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.gstatic.com" />

    <link lang="sass" rel="stylesheet" href="./static/styles/main.css" />
    <link rel="icon" href="./static/img/favicon.ico" type="image/x-icon" />
    <title>{{ title }}</title>
  </head>

  <body>
    <section>
    <div style="display: flex; align-items: center;">
      <h1 style="text-align: center;">Welcome to our portfolio website!</h1>
    </div>
      <div style="display:flex; flex-direction: row; justify-content: center; margin: 50px 50px 50px 50px; width:100%">
        <div class="indv-div">
            <img src="https://scontent-qro1-2.xx.fbcdn.net/v/t1.6435-9/84026727_2747323122019913_5645083294765678592_n.jpg?_nc_cat=110&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=0t_wB7DPHbYAX_ApeFJ&_nc_ht=scontent-qro1-2.xx&oh=cb73fc4d0dcb64451779604fa73a4b67&oe=60E7CA33" class="avatar">
            <p class="name">Athena</p>
        </div>
        <div class="indv-div">
            <img src="https://scontent-qro1-2.xx.fbcdn.net/v/t1.6435-9/84026727_2747323122019913_5645083294765678592_n.jpg?_nc_cat=110&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=0t_wB7DPHbYAX_ApeFJ&_nc_ht=scontent-qro1-2.xx&oh=cb73fc4d0dcb64451779604fa73a4b67&oe=60E7CA33" class="avatar">
            <p class="name">Patrick</p>
        </div>
        <div class="indv-div">
            <img src="https://scontent-qro1-2.xx.fbcdn.net/v/t1.6435-9/84026727_2747323122019913_5645083294765678592_n.jpg?_nc_cat=110&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=0t_wB7DPHbYAX_ApeFJ&_nc_ht=scontent-qro1-2.xx&oh=cb73fc4d0dcb64451779604fa73a4b67&oe=60E7CA33" class="avatar">
            <p class="name">Juan Carlos</p>
        </div>
      </div>  
      </section>
    <!-- First Card -->
    <section>
      <div class="container reveal">
        <div style="width: 700px;">
          <div>
          <div class="grid-container">
            <div style="display:flex; justify-content: center;">
              <img src="https://scontent-qro1-2.xx.fbcdn.net/v/t1.6435-9/84026727_2747323122019913_5645083294765678592_n.jpg?_nc_cat=110&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=0t_wB7DPHbYAX_ApeFJ&_nc_ht=scontent-qro1-2.xx&oh=cb73fc4d0dcb64451779604fa73a4b67&oe=60E7CA33" class="avatar">
            </div>
            <div class="bio">
              A girl on the move ;)
            </div>
            <div class="grid-item">
              Athena
            </div> 
            <div class="grid-item">
              <button  onclick="window.open('/athena', '_self')" class="button">More</button>
            </div> 
          </div>
        </div>
        </div>
    </div>
    </section>
    <!-- Second Card -->
    <section>
      <div class="container reveal">
        <div style="width: 700px;">
          <div>
          <div class="grid-container">
            <div style="display:flex; justify-content: center;">
              <img src="https://scontent-qro1-2.xx.fbcdn.net/v/t1.6435-9/84026727_2747323122019913_5645083294765678592_n.jpg?_nc_cat=110&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=0t_wB7DPHbYAX_ApeFJ&_nc_ht=scontent-qro1-2.xx&oh=cb73fc4d0dcb64451779604fa73a4b67&oe=60E7CA33" class="avatar">
            </div>
            <div class="bio">
              A really cool dude :)
            </div>
            <div class="grid-item">
              Patrick
            </div> 
            <div class="grid-item">
              <button  onclick="window.open('/patrick', '_self')" class="button">More</button>
            </div> 
          </div>
        </div>
        </div>
    </div>
    </section>
    <!-- Third Card -->
    <section>
      <div class="container reveal">
        <div style="width: 700px;">
          <div>
          <div class="grid-container">
            <div style="display:flex; justify-content: center;">
              <img src="https://avatars.githubusercontent.com/u/49993080?s=400&u=d9d54bca441cc1af40e07d7fd4d18e11e76308c9&v=4" class="avatar">
            </div>
            <div class="bio">
              Software and hardware passionate looking for ways to help others with the good use of these tools!
            </div>
            <div class="grid-item">
              Juan Carlos Hurtado
            </div> 
            <div class="grid-item">
              <button  onclick="window.open('/juancarlos', '_self')" class="button">More</button>
            </div> 
          </div>
        </div>
        </div>
    </div>
    </section>
    <script type="text/javascript" src="{{url_for('static', filename='index.js')}}"></script>
  </body>
</html>
